#container {
	position: relative;
	height: 100%;
	background-color: #F3F3F3;
}

.md-toolbar-tools h2 {
	margin-left: 5px;
}

md-toolbar {
	position: fixed;
	.md-toolbar-tools {
		max-height: 64px;
		height: 64px;

		h2 {
			margin-left: 5px;
		}
	}
}

#content {
	padding-top: 69px;
	height: 100%;

	#card-container {
		max-height: 100%;
		overflow-y: scroll;
	}
}

.card {
	margin: 20px;

	.card-title {
		padding-bottom: 5px;

		h3 {
			margin: 0px;
		}
	}

	.card-media-container {
		margin: 20px;

		.card-media {
			// width: 100%;
			// max-width: 480px;
			max-height: 400px;
			height: 100%;
		}
	}

	span.response-limit-description {
		margin: 5px 0px 5px 0px;
		opacity: 0.6;
		font-size:0.8em;

		&:nth-child(2) {
			&:before {
				content: " ";
				left: 0px;
				margin-left: 0.25em;
			}
		}
	}

	textarea {
		border-width: 0px 0px 2px 0px;
		border-color: #909090;
	}
}

.card.incomplete {
	border-top: 2px solid red;
	border-bottom: 2px solid red;
	margin: 18px 20px;
	background: #fff7f7;
}

h1.md-headline {
	position: relative;
	z-index: 0;
}

.radio-spacing {
	margin: 10px;
}

.pre-answer {
	display: flex;
	align-self: center;
	margin-right: 10px;
}
.dropdown-answer {
	margin-left: 10px;
	margin-top: 0;
	min-width: 200px;
}

.dropdown-answer-element {
	position: relative;

	.md-text {
		display: flex;
		justify-content: space-between;
		width: 100%;

		.answer-text {
			flex-grow: 1;
		}

		.answer-number {
			margin: auto 0 auto 10px;
			font-size: 10px;
		}
	}
}

.arrow_box {
	position: absolute;
	background: #ffff82;
	color: #333;
	right: 135px;
	top: 20px;
	padding: 5px 20px;
	font-size: 14px;
	animation: arrowbob 1s infinite;
	z-index: 10;
}
@keyframes arrowbob {
	0% {
		transform: translate(0, 0);
	}
	60% {
		transform: translate(15px, 0);
	}
	100% {
		transform: translate(0, 0);
	}
}
.arrow_box:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #ffff82;
	border-width: 14px;
	margin-top: -15px;
}

button.info-tooltip-button {
	position: relative;
	top: -0.25em;
	opacity: 0.5;
	border: none;
	outline: none;
	background: white;
	padding-left: 3px;
	i {
		font-size: 18px;
	}
}
.layout-row:not(.sequence-item) {
	flex-wrap: wrap;
}

.sequence-item-container.layout-column {
  display: block;
}

.sequence-item {
	display: flex;
	align-items: flex-start;
	cursor: grab;
	z-index: 1;
	background-color: rgba(245, 245, 245, 0.8);
	box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.2);

	&:first-child {
		border-top: 1px solid rgba(100, 121, 143, 0.2);
	}

	&:hover,
	&:focus {
		z-index: 2;
		box-shadow:
			inset 1px 0 0 #dadce0,
			inset -1px 0 0 #dadce0,
			0 1px 2px 0 rgba(60, 64, 67, 0.3),
			0 1px 3px 1px rgba(60, 64, 67, 0.3);
	}

	.drag-handle {
		i {
			margin-top: 10px;
			opacity: 0.5;
			transition: opacity linear 0.25s, width linear 0.25s;
		}
	}

	.move-arrow {
		opacity: 0.5;
		margin: 0;
		user-select: none;
		cursor: pointer;
		i {
			margin-top: 10px;
		}
	}

	.sequence-item-text {
		flex-basis: 100%;
		margin: 10px;
		padding: 0;
		cursor: grab;
		color: #202124;
		flex-grow: 1;
	}
}

.instructions {
	color: #575757;
	font-size: 0.9em;
	margin: -5px 50px 10px 20px;
	user-select: none;
	outline: none;

	span {
		margin-bottom: 5px;
		display: block;
	}
}

.bottom-submit {
	position: relative;
	left: 50%;
	transform: translate(-50% , 0);
	max-width: 600px;
	padding: 0px 6px 0px 6px;
	margin: 6px 0px 18px 0px;
	font-size:1.1em;
}
